* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  color: #b1ada9;
}

.sfondo {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/1252890/pexels-photo-1252890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  height: 90%;
  width: 80%;
  background-color: #eaeaea;
}






/* BLOCCO DI SINISTRA */

.sinistra {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
}

/* TOP-1 */

.top-1 {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #eaeaea;
  align-items: center;
  justify-content: space-between;
}

.top-1 img {
  height: 60px;
  width: 60px;
  margin-left: 15px;
  border-radius: 50%;
}

/* NOTIFICHE */

.notifiche {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #8edafc;
  align-items: center;
  justify-content: flex-start;
}

.silence {
  display: flex;
  align-items: center;
  justify-content: center;
}

.silence i {
  font-size: 30px;
  margin: 15px;
  color: white;
}

.ricevi a {
  color: #4e8da1;
}

/* RICERCA */

.ricerca {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;
}

.ricerca input {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin: auto;
}

.ricerca i {
  font-size: 20px;
  margin: auto;
  color: #b1ada9;
}


/* LISTA */

.lista {
  display: flex;
  height: calc(100% - 260px);
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
}

.utente {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  padding: 10px;
  cursor: pointer;
}

.avatar-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-1 img {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
}













/* BLOCCO DI DESTRA */

.destra {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* TOP-2 */

.top-2 {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #eaeaea;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid black;
}

.avatar-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-2 img {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50%;
}

.icon {
  display: flex;
  align-items: center;
}

.icon i {
  font-size: 25px;
  margin: 10px;
  color: #b1ada9;
}

/* CHAT */

.chat {
  display: flex;
  height: calc(100% - 180px);
  width: 100%;
  background-image: url("https://i.redd.it/li4c8ljip3d41.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  flex-direction: column;
}

.row1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}

.row2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 20px;
}

.white {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ora {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.green {
  background-color: #d5f9bb;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chat p {
  color: black;
}

.chat span {
  color: #b1ada9;
  font-size: 12px;
}
 /* MESSAGGIO */

.messaggio {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #eaeaea;
  align-items: center;
  justify-content: space-around;
}

.messaggio i {
  font-size: 30px;
  color: #746e74;
  margin: auto;
}

.messaggio input {
  height: 50px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin: auto;
}
